//Bring in all the old styles of the website and convert to SASS using http://css2sass.herokuapp.com/
body {
  margin-bottom: 0px;
  margin-top: 0px;
}

form, input {
  margin: 0px;
  padding: 0px;
}
.container{
	border: 1px solid #C9C9C9;
	box-shadow: 5px;
}
#container {
  max-width: 960px;
  padding-top: 30px;
  background: url(images/body_bg.jpg) repeat-x top left;
  width: 100%;

}

/* header area start */

#utility_nav {
  //float: right;
  padding-bottom: 0;
  padding-top: 45px;
  padding-right: 17px;
  @include mq(small) {
	text-align: center;
	padding-top: em(15);
	width: 100%;
	}  
}

.utility_nav_mac_003 b {
  font-size: 20px;
  color: #000000;
}

header {
@include mq(small) {
	text-align: center;
	}  
  }
.search-wrap {
    text-align: right;
    @include mq(small) {
	text-align: center;
	}  
}

#search {
  //float: right;
 // width: 175px;
  padding-left: 17px;
  padding-top: 40px;
  padding-bottom: 0px;

	
}

html > body #search {
 // float: right;
 // width: 175px;
  //padding: 40px 10px 0px 17px;
  @include mq(small) {
	display: none;
	}
}

/* topnav area start */

#topnav {
  background: #7e7e7e;
    margin-top: 15px;
    clear: both;
    padding-bottom: 18px;
    padding-top: 14px;
    text-align: center;
    @include mq(small) {
    	padding-top: 0;
    	margin-top: 40px;
    }
  a{
  	 @include mq(small) {
  	 		display: block;
	}
  }
}

.menu-link{
 display: block;
 float: right;
 background: url(images/ico-nav.png) no-repeat left top;
 width: em(33,12);
 height: em(23,12);
 @include mq(medium){
   display: none;
 }
}
header{
	.inner-wrap{
	padding-top: em(10);
	padding-bottom: em(5);
}
}
.inner-wrap.banner{
	padding-top: 0;
	padding-bottom: 0;
}
.banner-image {
    float: left;
}
#header2 {
	width: 100%;
  background: url(images/banner-bg.jpg) repeat-x top left;
  min-height: 225px;
  h1 {
    color: #3B3A3A;
    float: right;
    font-size: 13px;
    font-weight: normal;
    margin: 0px 79px 0px 0px;
    padding-top: 68px;
    text-align: left;
    width: 415px;
    span {
      font-family: arial black;
      color: #365F91;
      font-size: 24px;
      text-transform: uppercase;
      font-style: italic;
    }
  }
}

/* main area start */

#inner_header2 {
  background: url(images/inner_banner.jpg) no-repeat top left;
  height: 124px;
}

#m {
  width: 960px;
  background: #fff url(images/content_bg.jpg) repeat-x top left;
}

#main {
  width: 960px;
}

#leftnav {
  width: 164px;
  padding-bottom: 20px;
}

#content_area {
  padding-left: 50px;
  padding-right: 20px;
  padding-top: 0px;
  padding-bottom: 20px;
}

/* footer area start */

#footer {
  background: #ffffff url(images/footer_bg.jpg) repeat-x top left;
  height: 230px;
  width: 962px;
}

#thomas_info {
  width: 960px;
  height: 16px;
  text-align: right;
  padding-top: 2px;
}

/* heading styles */

h1 {
  color: #252122;
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
  padding: 2px 0px 8px 0px;
}

h2 {
  color: #000191;
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
  padding: 8px 0px 8px 0px;
}

h3 {
  color: #000191;
  font-size: 24px;
  font-weight: bold;
}

/* image styles */

.mail_img {
  vertical-align: middle;
  margin-right: 5px;
  margin-left: 10px;
}

.img01 {
  float: left;

	@include mq(small) {
		float: none;
		text-align: center;
	}
}

.img02 {
  vertical-align: bottom;
  margin-right: 1px;
}

.img03 {
  vertical-align: bottom;
  margin-left: 13px;
  margin-right: 5px;
}

.img04 {
  margin-top: 2px;
  margin-bottom: 20px;
}

.img05 {
  float: right;
  margin-top: 10px;
}

.img06 {
  margin-top: 20px;
  border: 1px solid #000000;
}

.img07 {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.img08 {
  margin-top: 20px;
}

.img09 {
  margin-bottom: 5px;
}

.img15 {
  margin: 15px 0px 10px 0px;
}

/* miscellaneous */

.footer_left b {
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.footer_right {
  b {
    display: block;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    color: #3435e8;
  }
  span {
    margin-left: 15px;
  }
}

#footer i {
  display: block;
  padding-right: 18px;
  font-style: normal;
  float: left;
  span {
    font-weight: normal;
    display: block;
    padding: 15px 15px 0px 20px;
  }
  b {
    color: #686868;
  }
  a {
    font-family: Arial;
    font-size: 11px;
    font-style: normal;
    color: #686868;
    padding: 2px 0px 2px 0px;
    display: block;
    &:hover {
      color: #686868;
      text-decoration: underline;
    }
  }
}

.footer_left span {
  float: left;
  margin-top: 5px;
}

p {
  margin: 0px;
  padding: 8px 0px 8px 0px;
}

.specifications td {
  padding: 10px 15px 10px 15px;
  vertical-align: top;
}

.about_txt {
  font-family: arial;
  font-size: 13px;
  font-weight: bold;
}

.specifications_inner td {
  border: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 3px 0 3px 15px;
  list-style: none;
  li {
    padding-left: 10px;
    padding-bottom: 2px;
    background: transparent url(images/bullet.jpg) no-repeat 0 5px;
    text-align: left;
  }
}

.btn_search, .btn_search_hover {
  background: url("images/search.jpg") no-repeat scroll left top transparent;
  border: medium none;
  cursor: pointer;
  height: 24px;
  margin-left: 3px;
  width: 31px;
}

.leftvideo-img {
  margin: 25px 0px 0px 21px;
}

#main_container {
  background: url("images/main_bg_top.jpg") no-repeat scroll center 0 transparent;
  padding-top: 13px;
  margin: 0 auto;

}

.inner_wrap{
	background: url("images/main_bg.jpg") repeat scroll 0 0 transparent;
	width: 100%;
	max-width: 1021px;
}

#outer_footer {
  background: url("images/main_bg_bottom.jpg") no-repeat scroll center 0 transparent;
}



/* X2 cms style */

body, td {
  font-family: Arial;
  color: #3a434c;
  //font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

a {
  &:link, &:visited {
    font-family: Arial;
    color: #3435e8;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
  }
  &:hover {
    font-family: Arial;
    color: #3435e8;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
  }
  &:active {
    font-family: Arial;
    color: #3435e8;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
  }
}

.default {
  font-family: Arial;
  color: #3a434c;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

a {
  &.default, &:link.default {
    font-family: Arial;
    color: #3435e8;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
  }
}

.default a {
  font-family: Arial;
  color: #3435e8;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
  &:link {
    font-family: Arial;
    color: #3435e8;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
  }
}

a:visited.default, .default a:visited {
  font-family: Arial;
  color: #3435e8;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}

a:hover.default, .default a:hover {
  font-family: Arial;
  color: #3435e8;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

a:active.default, .default a:active {
  font-family: Arial;
  color: #3435e8;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}

.bucket_link_mac_003 {
  font-family: Arial;
  color: #3b3a3a;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  margin: 0;
  padding-bottom: 12px;
}

a {
  &.bucket_link_mac_003, &:link.bucket_link_mac_003 {
    font-family: Arial;
    color: #3b3a3a;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
  }
}

.bucket_link_mac_003 a {
  font-family: Arial;
  color: #3b3a3a;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  &:link {
    font-family: Arial;
    color: #3b3a3a;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
  }
}

a:visited.bucket_link_mac_003, .bucket_link_mac_003 a:visited {
  font-family: Arial;
  color: #3b3a3a;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}

a:hover.bucket_link_mac_003, .bucket_link_mac_003 a:hover {
  font-family: Arial;
  color: #686868;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}

a:active.bucket_link_mac_003, .bucket_link_mac_003 a:active {
  font-family: Arial;
  color: #3b3a3a;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}

.footer_inner {
  font-family: Arial;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  padding-top: 20px;
  display: block;
  padding-left: 14px;
}

a {
  &.footer_inner, &:link.footer_inner {
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
  }
}

.footer_inner a {
  font-family: Arial;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  &:link {
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
  }
}

a:visited.footer_inner, .footer_inner a:visited {
  font-family: Arial;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

a:hover.footer_inner, .footer_inner a:hover {
  font-family: Arial;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}

a:active.footer_inner, .footer_inner a:active {
  font-family: Arial;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

.footer_left {
  font-family: Arial;
  color: #2F2F2F;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  float: left;
  display: block;
  padding-right: 40px;
}

a {
  &.footer_left, &:link.footer_left {
    font-family: Arial;
    color: #2F2F2F;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
  }
}

.footer_left a {
  font-family: Arial;
  color: #2F2F2F;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
  &:link {
    font-family: Arial;
    color: #2F2F2F;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
  }
}

a:visited.footer_left, .footer_left a:visited {
  font-family: Arial;
  color: #2F2F2F;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}

a:hover.footer_left, .footer_left a:hover, a:active.footer_left, .footer_left a:active {
  font-family: Arial;
  color: #2F2F2F;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

.footer_mac_003 {
  font-family: Arial;
  color: #FFFFFF;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

a {
  &.footer_mac_003, &:link.footer_mac_003 {
    font-family: Arial;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
  }
}

.footer_mac_003 a {
  font-family: Arial;
  color: #FFFFFF;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
  &:link {
    font-family: Arial;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
  }
}

a:visited.footer_mac_003, .footer_mac_003 a:visited {
  font-family: Arial;
  color: #FFFFFF;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}

a:hover.footer_mac_003, .footer_mac_003 a:hover {
  font-family: Arial;
  color: #FFFFFF;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

.footer_right {
  font-family: Arial;
  color: #686868;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  float: left;
  text-align: left;
  padding-top: 15px;
}

a {
  &.footer_right, &:link.footer_right {
    font-family: Arial;
    color: #686868;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
  }
}

.footer_right a {
  font-family: Arial;
  color: #686868;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
  &:link {
    font-family: Arial;
    color: #686868;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
  }
}

a:visited.footer_right, .footer_right a:visited {
  font-family: Arial;
  color: #686868;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}

a:hover.footer_right, .footer_right a:hover, a:active.footer_right, .footer_right a:active {
  font-family: Arial;
  color: #686868;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

.header_text {
  font-family: Arial;
  color: #000191;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  text-decoration: none;
  display: block;
  padding-top: 2px;
}

a {
  &.header_text, &:link.header_text {
    font-family: Arial;
    color: #000191;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
  }
}

.header_text a {
  font-family: Arial;
  color: #000191;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  &:link {
    font-family: Arial;
    color: #000191;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
  }
}

a:visited.header_text, .header_text a:visited, a:hover.header_text, .header_text a:hover, a:active.header_text, .header_text a:active {
  font-family: Arial;
  color: #000191;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

.lefthead_mac_003 {
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  display: block;
  padding: 7px 0px 11px 23px;
  background: url(images/leftnav_head_bg.jpg) no-repeat top right;
  text-align: left;
  margin-top: 10px;
}

a {
  &.lefthead_mac_003, &:link.lefthead_mac_003 {
    font-family: Arial;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
  }
}

.lefthead_mac_003 a {
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  &:link {
    font-family: Arial;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
  }
}

a:visited.lefthead_mac_003, .lefthead_mac_003 a:visited, a:hover.lefthead_mac_003, .lefthead_mac_003 a:hover, a:active.lefthead_mac_003, .lefthead_mac_003 a:active {
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}

.leftnav_mac_003 {
  color: #4c4c4c;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

a {
  &.leftnav_mac_003, &:link.leftnav_mac_003 {
    font-family: Arial;
    color: #292929;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    display: block;
    padding: 5px 5px 5px 24px;
  }
}

.leftnav_mac_003 a {
  font-family: Arial;
  color: #292929;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  display: block;
  padding: 5px 5px 5px 24px;
  &:link {
    font-family: Arial;
    color: #292929;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    display: block;
    padding: 5px 5px 5px 24px;
  }
}

a:visited.leftnav_mac_003, .leftnav_mac_003 a:visited {
  font-family: Arial;
  color: #292929;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  display: block;
  padding: 5px 5px 5px 24px;
}

a:hover.leftnav_mac_003, .leftnav_mac_003 a:hover {
  font-family: Arial;
  color: #686868;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  display: block;
  padding: 5px 5px 5px 24px;
  background: url(images/leftnav_hover.jpg) no-repeat left;
}

a:active.leftnav_mac_003, .leftnav_mac_003 a:active {
  font-family: Arial;
  color: #292929;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

.popup_heading {
  font-family: Arial;
  color: #686868;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}

a {
  &.popup_heading, &:link.popup_heading {
    font-family: Arial;
    color: #686868;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    display: block;
  }
}

.popup_heading a {
  font-family: Arial;
  color: #686868;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  display: block;
  &:link {
    font-family: Arial;
    color: #686868;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    display: block;
  }
}

a:visited.popup_heading, .popup_heading a:visited, a:hover.popup_heading, .popup_heading a:hover, a:active.popup_heading, .popup_heading a:active {
  font-family: Arial;
  color: #686868;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}

.portfolio {
  font-family: Arial;
  color: #3b3a3a;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  background: url(images/home_portfolio_bg.jpg) repeat-x left 5px;
}

a {
  &.portfolio, &:link.portfolio {
    font-family: Arial;
    color: #3b3a3a;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
  }
}

.portfolio a {
  font-family: Arial;
  color: #3b3a3a;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  &:link {
    font-family: Arial;
    color: #3b3a3a;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
  }
}

a:visited.portfolio, .portfolio a:visited {
  font-family: Arial;
  color: #3b3a3a;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

a:hover.portfolio, .portfolio a:hover {
  font-family: Arial;
  color: #686868;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

a:active.portfolio, .portfolio a:active {
  font-family: Arial;
  color: #3b3a3a;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

.portfolio_text {
  font-family: Arial;
  color: #3a434c;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  padding-bottom: 10px;
}

a {
  &.portfolio_text, &:link.portfolio_text {
    font-family: Arial;
    color: #3A434C;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
  }
}

.portfolio_text a {
  font-family: Arial;
  color: #3A434C;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  &:link {
    font-family: Arial;
    color: #3A434C;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
  }
}

a:visited.portfolio_text, .portfolio_text a:visited {
  font-family: Arial;
  color: #3a434c;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

a:hover.portfolio_text, .portfolio_text a:hover, a:active.portfolio_text, .portfolio_text a:active {
  font-family: Arial;
  color: #3435e8;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

.printable {
  font-family: Arial;
  color: #3435e8;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  float: right;
  margin-top: 100px;
  margin-right: 30px;
}

a {
  &.printable, &:link.printable {
    font-family: Arial;
    color: #3435e8;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
  }
}

.printable a {
  font-family: Arial;
  color: #3435e8;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
  &:link {
    font-family: Arial;
    color: #3435e8;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
  }
}

a:visited.printable, .printable a:visited {
  font-family: Arial;
  color: #3435e8;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}

a:hover.printable, .printable a:hover {
  font-family: Arial;
  color: #3435e8;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

a:active.printable, .printable a:active {
  font-family: Arial;
  color: #3435e8;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}

.quick_quote {
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  width: 151px;
  background: url(images/quick_quote_bg.jpg) no-repeat top;
  margin: -65px 0px 0px 10px;
  padding-top: 30px;
  display: block;
  position: relative;
}

a {
  &.quick_quote, &:link.quick_quote {
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
  }
}

.quick_quote a {
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
  &:link {
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
  }
}

a:visited.quick_quote, .quick_quote a:visited, a:hover.quick_quote, .quick_quote a:hover, a:active.quick_quote, .quick_quote a:active {
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}

.quick_quote1 {
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  width: 151px;
  background: url(images/quick_quote_bg1.jpg) no-repeat top;
  margin: 40px 0px 0px 10px;
  padding-top: 30px;
  display: block;
  position: relative;
}

a {
  &.quick_quote1, &:link.quick_quote1 {
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
  }
}

.quick_quote1 a {
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
  &:link {
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
  }
}

a:visited.quick_quote1, .quick_quote1 a:visited, a:hover.quick_quote1, .quick_quote1 a:hover, a:active.quick_quote1, .quick_quote1 a:active {
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}

.rfq {
  font-family: Arial;
  color: #000000;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  width: 130px;
  height: 22px;
  padding: 3px 5px 0px 5px;
  margin: 0px 0px 5px 10px;
  float: left;
  background-color: #eaeaea;
  border: 1px solid #000;
}

a {
  &.rfq, &:link.rfq {
    font-family: Arial;
    color: #000000;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
  }
}

.rfq a {
  font-family: Arial;
  color: #000000;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
  &:link {
    font-family: Arial;
    color: #000000;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
  }
}

a:visited.rfq, .rfq a:visited, a:hover.rfq, .rfq a:hover, a:active.rfq, .rfq a:active {
  font-family: Arial;
  color: #000000;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}

.rfq1 {
  font-family: Arial;
  color: #000000;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  width: 130px;
  height: 43px;
  padding: 3px 5px 20px 5px;
  margin: 0px 0px 3px 10px;
  float: left;
  background-color: #eaeaea;
  border: 1px solid #000;
}

a {
  &.rfq1, &:link.rfq1 {
    font-family: Arial;
    color: #000000;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
  }
}

.rfq1 a {
  font-family: Arial;
  color: #000000;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
  &:link {
    font-family: Arial;
    color: #000000;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
  }
}

a:visited.rfq1, .rfq1 a:visited, a:hover.rfq1, .rfq1 a:hover, a:active.rfq1, .rfq1 a:active {
  font-family: Arial;
  color: #000000;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}

.sample {
  font-family: Arial;
  color: #686868;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  padding: 15px 0px 10px 3px;
}

a {
  &.sample, &:link.sample {
    font-family: Arial;
    color: #686868;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    text-decoration: underline;
  }
}

.sample a {
  font-family: Arial;
  color: #686868;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  text-decoration: underline;
  &:link {
    font-family: Arial;
    color: #686868;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    text-decoration: underline;
  }
}

a:visited.sample, .sample a:visited, a:hover.sample, .sample a:hover, a:active.sample, .sample a:active {
  font-family: Arial;
  color: #686868;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  text-decoration: underline;
}

.search_box {
  font-family: Arial;
  color: #000000;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  padding-left: 5px;
  height: 22px;
  width: 150px;
  margin: 0px;
  padding-top: 1px;
  background-color: #eaeaea;
}

a {
  &.search_box, &:link.search_box {
    font-family: Arial;
    color: #000000;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
  }
}

.search_box a {
  font-family: Arial;
  color: #000000;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
  &:link {
    font-family: Arial;
    color: #000000;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
  }
}

a:visited.search_box, .search_box a:visited, a:hover.search_box, .search_box a:hover, a:active.search_box, .search_box a:active {
  font-family: Arial;
  color: #000000;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}

.sitemap_category {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  margin-bottom: 5px;
}

.sitemap_item {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  margin-bottom: 5px;
}

.small_mac_003 {
  font-family: Arial;
  color: #000000;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

a {
  &.small_mac_003, &:link.small_mac_003 {
    font-family: Arial;
    color: #0000FF;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
  }
}

.small_mac_003 a {
  font-family: Arial;
  color: #0000FF;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
  &:link {
    font-family: Arial;
    color: #0000FF;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
  }
}

a:visited.small_mac_003, .small_mac_003 a:visited {
  font-family: Arial;
  color: #0000FF;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}

a:hover.small_mac_003, .small_mac_003 a:hover {
  font-family: Arial;
  color: #0000FF;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

.specifications {
  font-family: Arial;
  color: #5b615e;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

a {
  &.specifications, &:link.specifications {
    font-family: Arial;
    color: #3435e8;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
  }
}

.specifications a {
  font-family: Arial;
  color: #3435e8;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
  &:link {
    font-family: Arial;
    color: #3435e8;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
  }
}

a:visited.specifications, .specifications a:visited {
  font-family: Arial;
  color: #3435e8;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}

a:hover.specifications, .specifications a:hover, a:active.specifications, .specifications a:active {
  font-family: Arial;
  color: #3435e8;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

.thomasinfo_text {
  font-family: Arial;
  color: #686868;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

a {
  &.thomasinfo_text, &:link.thomasinfo_text {
    font-family: Arial;
    color: #686868;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
  }
}

.thomasinfo_text a {
  font-family: Arial;
  color: #686868;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
  &:link {
    font-family: Arial;
    color: #686868;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
  }
}

a:visited.thomasinfo_text, .thomasinfo_text a:visited {
  font-family: Arial;
  color: #686868;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}

a:hover.thomasinfo_text, .thomasinfo_text a:hover {
  font-family: Arial;
  color: #3435e8;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

a:active.thomasinfo_text, .thomasinfo_text a:active {
  font-family: Arial;
  color: #686868;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}

.thumb {
  font-family: Arial;
  color: #3a434c;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  float: right;
  padding-bottom: 8px;
}

a {
  &.thumb, &:link.thumb {
    font-family: Arial;
    color: #3a434c;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
  }
}

.thumb a {
  font-family: Arial;
  color: #3a434c;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
  &:link {
    font-family: Arial;
    color: #3a434c;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
  }
}

a:visited.thumb, .thumb a:visited, a:hover.thumb, .thumb a:hover, a:active.thumb, .thumb a:active {
  font-family: Arial;
  color: #3a434c;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}

.top {
  font-family: Arial;
  color: #3435e8;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  float: right;
}

a {
  &.top, &:link.top {
    font-family: Arial;
    color: #3435e8;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
  }
}

.top a {
  font-family: Arial;
  color: #3435e8;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
  &:link {
    font-family: Arial;
    color: #3435e8;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
  }
}

a:visited.top, .top a:visited {
  font-family: Arial;
  color: #3435e8;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}

a:hover.top, .top a:hover, a:active.top, .top a:active {
  font-family: Arial;
  color: #3a434c;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

.topnav_mac_003 {
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;

	@include mq(small) {
	display: none;
	}
}
.topnav_mac_003.active{
	display: block;
}
a {
  &.topnav_mac_003, &:link.topnav_mac_003 {
    font-family: Arial;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    margin: 0px 12px 0px 12px;
    padding: 18px 0px 0px 0px;
  }
}

.topnav_mac_003 a {
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  margin: 0px 12px 0px 12px;
  padding: 18px 0px 0px 0px;
  &:link {
    font-family: Arial;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    margin: 0px 12px 0px 12px;
    padding: 18px 0px 0px 0px;
  }
}

a:visited.topnav_mac_003, .topnav_mac_003 a:visited {
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  margin: 0px 12px 0px 12px;
  padding: 18px 0px 0px 0px;
}

a:hover.topnav_mac_003, .topnav_mac_003 a:hover {
  font-family: Arial;
  color: #cccccc;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  margin: 0px 12px 0px 12px;
  padding: 18px 0px 0px 0px;

	@include mq(medium) {
  background: url(images/topnav_hover.jpg) repeat-x left top;
}
}

a:active.topnav_mac_003, .topnav_mac_003 a:active {
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}

.topright_link {
  font-family: Arial;
  color: #3b3a3a;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  float: left;
  text-align: left;
  padding-top: 15px;
}

a {
  &.topright_link, &:link.topright_link {
    font-family: Arial;
    color: #3b3a3a;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    text-decoration: underline;
  }
}

.topright_link a {
  font-family: Arial;
  color: #3b3a3a;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  text-decoration: underline;
  &:link {
    font-family: Arial;
    color: #3b3a3a;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    text-decoration: underline;
  }
}

a:visited.topright_link, .topright_link a:visited {
  font-family: Arial;
  color: #3b3a3a;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  text-decoration: underline;
}

a:hover.topright_link, .topright_link a:hover {
  font-family: Arial;
  color: #686868;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}

a:active.topright_link, .topright_link a:active {
  font-family: Arial;
  color: #3b3a3a;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  text-decoration: underline;
}

.utility_nav_mac_003 {
  font-family: Arial;
  color: #7c7c7c;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

a {
  &.utility_nav_mac_003, &:link.utility_nav_mac_003 {
    font-family: Arial;
    color: #7c7c7c;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
  }
}

.utility_nav_mac_003 a {
  font-family: Arial;
  color: #7c7c7c;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
  &:link {
    font-family: Arial;
    color: #7c7c7c;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
  }
}

a:visited.utility_nav_mac_003, .utility_nav_mac_003 a:visited {
  font-family: Arial;
  color: #7c7c7c;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}

a:hover.utility_nav_mac_003, .utility_nav_mac_003 a:hover {
  font-family: Arial;
  color: #7c7c7c;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

a:active.utility_nav_mac_003, .utility_nav_mac_003 a:active {
  font-family: Arial;
  color: #7c7c7c;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}