body {     margin-bottom:0px; margin-top:0px;                       
                            
   }                         
                            
form, input {                         
   margin:0px;                          
   padding:0px;                         
   }                          
                             
#container {                         
   width: 960px;   padding-top:30px;                         
                     
   background: url(/images/body_bg.jpg) repeat-x top left;                         
    }                         

/* header area start */                         
                            
#utility_nav {                           
   float: right;      
    padding-bottom: 0;      
    padding-top: 45px;      
                         
    }                         

.utility_nav_mac_003 b {                             
   font-size:20px; color:#000000;                            
   }                         
#header {                         
   width: 960px;                         
   height: 76px;                         
   }                        
#search {                               
   float:right;                             
   width: 175px;       
padding-left: 17px;                           
   padding-top:40px;                            
   padding-bottom:0px;     
                         
   }       
html > body   #search {                               
   float:right;                             
   width: 175px;       
padding: 40px 10px 0px 17px;                            
   }                         
/* topnav area start */                         

#topnav {                         
   width: 960px;                         
   text-align: center;                         
   padding-top: 18px;                         
   padding-bottom: 21px;                         
   white-space: nowrap;                         
      }                         

#header2 {                         
   width:960px;                          
   background: url(/images/home_banner.jpg) no-repeat top left;                          
   height:225px;                         
   }                         
/* main area start */                         
#header2 h1 {              
    color: #3B3A3A;            
    float: right;            
    font-size: 13px;            
    font-weight: normal;            
    margin: 0px 79px 0px 0px;
padding-top: 68px;
text-align: left;
width: 415px;                         
   }                            

#header2 h1 span {                    
   font-family: arial black;                   
   color: #365F91;                         
   font-size:24px;                         
   text-transform:uppercase;                   
   font-style: italic;                         
   }                         
#inner_header2 {                          
   background: url(/images/inner_banner.jpg) no-repeat top left;                          
   height:124px;                         
   }                         
#m {                         
   width: 960px;                         
   background:#fff url(/images/content_bg.jpg) repeat-x top left;                         
   }                         
#main {                         
   width: 960px;                            
   }                         
                            
#leftnav {                         
   width: 164px;                         
   padding-bottom: 20px;                         
      }                         
                            
#content_area {                         
   padding-left: 50px;                         
   padding-right: 20px;                         
   padding-top: 0px;                         
   padding-bottom: 20px;                         
   }                         

/* footer area start */                         

#footer {   background: #ffffff url(/images/footer_bg.jpg) repeat-x top left;                          
   height:230px;width:960px;                               
   }                            
#thomas_info {                         
   width: 960px;                         
   height: 16px;                         
                          
   text-align: right;                         
   padding-top: 2px;                         
   }                         
                            
/* heading styles */                         

h1 {                         
   color: #252122;                         
   font-size: 18px;                         
   font-weight: bold;                         
   margin:0px;                          
   padding:2px 0px 8px 0px;                            
   }                         

h2 {                         
   color: #000191;                         
   font-size: 16px;                         
   font-weight: bold;                         
   margin:0px;                          
   padding:8px 0px 8px 0px;                            
   }                         
                            
h3 {                         
   color: #000191;                         
   font-size: 24px;                         
   font-weight: bold;                         
      }                         
                            
/* image styles */                         
 .mail_img {                                  
    vertical-align:middle;                            
   margin-right: 5px;                            
   margin-left:10px;                               
   }                            
.img01 {                         
   float:left;                             
   }                         
                            
.img02 {                         
   vertical-align:bottom;                            
   margin-right: 1px;                            
   }                         

.img03 {                         
   vertical-align : bottom;                         
   margin-left : 13px;                         
   margin-right : 5px;                            
   }                         
.img04 {                         
   margin-top:2px;                         
   margin-bottom: 20px;                         
   }                         
.img05{                         
   float:right;                          
   margin-top:10px;                         
   }                         
.img06{                         
   margin-top:20px;                          
   border:1px solid #000000;                         
   }                          
.img07 {                         
   float:left;                          
   margin-right:10px;                          
   margin-bottom:10px;                          
   }                          
.img08 {                         
   margin-top:20px;                         
   }                         
.img09 {                         
   margin-bottom:5px;                         
   }                          
.img15 {                             
   margin:15px 0px 10px 0px;                         
   }                            
/* miscellaneous */                         
.footer_left b {                             
   font-family:Arial;                             
   font-size:12px;                            
   font-weight:bold;                             
   text-transform:uppercase;                         
   }                          
.footer_right b {                             
   display:block;                             
   font-family:Arial;                             
   font-size:14px;                             
   font-weight:bold;                             
   color:#3435e8;                         
   }                          
.footer_right span {                             
   margin-left:15px;                         
   }                          
#footer i {                             
   display:block;                             
   padding-right:18px;                             
   font-style:normal;                             
   float:left;                         
   }                         
#footer i span {                             
   font-weight:normal;                             
   display:block;                             
   padding:15px 15px 0px 20px;                         
   }                         
#footer i b {                             
  color:#686868;                         
  }                         
#footer i a {                             
   font-family:Arial;                             
   font-size:11px;                             
   font-style:normal;                             
   color:#686868;                             
   padding:2px 0px 2px 0px;                             
   display:block;                         
   }                         
#footer i a:hover {                             
   color:#686868;                             
   text-decoration:underline;                         
   }                            
.footer_left span {                         
   float:left;                          
   margin-top:5px;                         
   }                         
p {                         
   margin:0px;                          
   padding:8px 0px 8px 0px;                         
   }                          
                                                                                 
.specifications td                         
  {                                                                             
   padding :10px 15px 10px 15px;                         
   vertical-align:top;                         
   }                

.about_txt {               
    font-family: arial;               
    font-size: 13px;               
    font-weight: bold;               
}                        
.specifications_inner td                         
{                         
 border : 0;                         
 padding :0;                         
}                         
ul                         
 {                         
 margin :0;                         
 padding :3px 0 3px 15px;                         
 list-style :none;                         
 }                         
ul li                         
 {                         
  padding-left :10px;                         
  padding-bottom :2px;                         
  background :transparent url(/images/bullet.jpg) no-repeat 0 5px;                         
  text-align :left;                         
 }             
 .btn_search {           
    background: url("/images/search.jpg") no-repeat scroll left top transparent;           
    border: medium none;           
    cursor: pointer;           

 height: 24px;         
    margin-left: 3px;         
    width: 31px;           
}              
 .btn_search_hover {           
    background: url("/images/search.jpg") no-repeat scroll left top transparent;           
    border: medium none;           
    cursor: pointer;           
    height: 24px;         
    margin-left: 3px;         
    width: 31px;           
}                   
.leftvideo-img {                        
   margin: 25px 0px 0px 21px;                        
}#main_container{background: url("images/main_bg_top.jpg") no-repeat scroll center 0 transparent;padding-top: 13px;}#inner_cont {background: url("images/main_bg.jpg") repeat scroll 0 0 transparent;width: 1021px;} #outer_footer{ background: url("images/main_bg_bottom.jpg") no-repeat scroll center 0 transparent;}                                                                                                    