body, td{font-family:Arial;color:#3a434c;font-size:12px;font-weight:normal;font-style:normal;text-decoration:none;}
a:link{font-family:Arial;color:#3435e8;font-size:12px;font-weight:normal;font-style:normal;text-decoration:underline;}
a:visited{font-family:Arial;color:#3435e8;font-size:12px;font-weight:normal;font-style:normal;text-decoration:underline;}
a:hover{font-family:Arial;color:#3435e8;font-size:12px;font-weight:normal;font-style:normal;text-decoration:none;}
a:active{font-family:Arial;color:#3435e8;font-size:12px;font-weight:normal;font-style:normal;text-decoration:underline;}
.default{font-family:Arial;color:#3a434c;font-size:12px;font-weight:normal;font-style:normal;text-decoration:none;}
a.default, a:link.default, .default a, .default a:link {font-family:Arial;color:#3435e8;font-size:12px;font-weight:normal;font-style:normal;text-decoration:underline;}
a:visited.default, .default a:visited {font-family:Arial;color:#3435e8;font-size:12px;font-weight:normal;font-style:normal;text-decoration:underline;}
a:hover.default, .default a:hover {font-family:Arial;color:#3435e8;font-size:12px;font-weight:normal;font-style:normal;text-decoration:none;}
a:active.default, .default a:active {font-family:Arial;color:#3435e8;font-size:12px;font-weight:normal;font-style:normal;text-decoration:underline;}
.bucket_link_mac_003{font-family:Arial;color:#3b3a3a;font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;text-align:center;margin:0;padding-bottom:12px;}
a.bucket_link_mac_003, a:link.bucket_link_mac_003, .bucket_link_mac_003 a, .bucket_link_mac_003 a:link {font-family:Arial;color:#3b3a3a;font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;}
a:visited.bucket_link_mac_003, .bucket_link_mac_003 a:visited {font-family:Arial;color:#3b3a3a;font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;}
a:hover.bucket_link_mac_003, .bucket_link_mac_003 a:hover {font-family:Arial;color:#686868;font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;}
a:active.bucket_link_mac_003, .bucket_link_mac_003 a:active {font-family:Arial;color:#3b3a3a;font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;}
.footer_inner{font-family:Arial;font-size:11px;font-weight:normal;font-style:normal;text-decoration:none;text-align:left; padding-top:20px; display:block;padding-left:14px;}
a.footer_inner, a:link.footer_inner, .footer_inner a, .footer_inner a:link {font-family:Arial;font-size:11px;font-weight:normal;font-style:normal;text-decoration:none;}
a:visited.footer_inner, .footer_inner a:visited {font-family:Arial;font-size:11px;font-weight:normal;font-style:normal;text-decoration:none;}
a:hover.footer_inner, .footer_inner a:hover {font-family:Arial;font-size:11px;font-weight:normal;font-style:normal;text-decoration:underline;}
a:active.footer_inner, .footer_inner a:active {font-family:Arial;font-size:11px;font-weight:normal;font-style:normal;text-decoration:none;}
.footer_left{font-family:Arial;color:#2F2F2F;font-size:11px;font-weight:normal;font-style:normal;text-decoration:none;float:left; display:block; padding-right:40px;}
a.footer_left, a:link.footer_left, .footer_left a, .footer_left a:link {font-family:Arial;color:#2F2F2F;font-size:11px;font-weight:normal;font-style:normal;text-decoration:underline;}
a:visited.footer_left, .footer_left a:visited {font-family:Arial;color:#2F2F2F;font-size:11px;font-weight:normal;font-style:normal;text-decoration:underline;}
a:hover.footer_left, .footer_left a:hover {font-family:Arial;color:#2F2F2F;font-size:11px;font-weight:normal;font-style:normal;text-decoration:none;}
a:active.footer_left, .footer_left a:active {font-family:Arial;color:#2F2F2F;font-size:11px;font-weight:normal;font-style:normal;text-decoration:none;}
.footer_mac_003{font-family:Arial;color:#FFFFFF;font-size:11px;font-weight:normal;font-style:normal;text-decoration:none;}
a.footer_mac_003, a:link.footer_mac_003, .footer_mac_003 a, .footer_mac_003 a:link {font-family:Arial;color:#FFFFFF;font-size:11px;font-weight:normal;font-style:normal;text-decoration:underline;}
a:visited.footer_mac_003, .footer_mac_003 a:visited {font-family:Arial;color:#FFFFFF;font-size:11px;font-weight:normal;font-style:normal;text-decoration:underline;}
a:hover.footer_mac_003, .footer_mac_003 a:hover {font-family:Arial;color:#FFFFFF;font-size:11px;font-weight:normal;font-style:normal;text-decoration:none;}
.footer_right{font-family:Arial;color:#686868;font-size:11px;font-weight:normal;font-style:normal;text-decoration:none;float:left; text-align:left; padding-top:15px;}
a.footer_right, a:link.footer_right, .footer_right a, .footer_right a:link {font-family:Arial;color:#686868;font-size:11px;font-weight:normal;font-style:normal;text-decoration:underline;}
a:visited.footer_right, .footer_right a:visited {font-family:Arial;color:#686868;font-size:11px;font-weight:normal;font-style:normal;text-decoration:underline;}
a:hover.footer_right, .footer_right a:hover {font-family:Arial;color:#686868;font-size:11px;font-weight:normal;font-style:normal;text-decoration:none;}
a:active.footer_right, .footer_right a:active {font-family:Arial;color:#686868;font-size:11px;font-weight:normal;font-style:normal;text-decoration:none;}
.header_text{font-family:Arial;color:#000191;font-size:14px;font-weight:normal;font-style:italic;text-decoration:none;display: block;
padding-top: 2px;}
a.header_text, a:link.header_text, .header_text a, .header_text a:link {font-family:Arial;color:#000191;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;}
a:visited.header_text, .header_text a:visited {font-family:Arial;color:#000191;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;}
a:hover.header_text, .header_text a:hover {font-family:Arial;color:#000191;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;}
a:active.header_text, .header_text a:active {font-family:Arial;color:#000191;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;}
.lefthead_mac_003{font-family:Arial;color:#ffffff;font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;display:block;padding: 7px 0px 11px 23px;background: url(/images/leftnav_head_bg.jpg) no-repeat top right;text-align: left;margin-top: 10px;}
a.lefthead_mac_003, a:link.lefthead_mac_003, .lefthead_mac_003 a, .lefthead_mac_003 a:link {font-family:Arial;color:#ffffff;font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;}
a:visited.lefthead_mac_003, .lefthead_mac_003 a:visited {font-family:Arial;color:#ffffff;font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;}
a:hover.lefthead_mac_003, .lefthead_mac_003 a:hover {font-family:Arial;color:#ffffff;font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;}
a:active.lefthead_mac_003, .lefthead_mac_003 a:active {font-family:Arial;color:#ffffff;font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;}
.leftnav_mac_003{color:#4c4c4c;font-weight:normal;font-style:normal;text-decoration:none;}
a.leftnav_mac_003, a:link.leftnav_mac_003, .leftnav_mac_003 a, .leftnav_mac_003 a:link {font-family:Arial;color:#292929;font-size:12px;font-weight:normal;font-style:normal;text-decoration:none;display:block;padding:5px 5px 5px 24px;}
a:visited.leftnav_mac_003, .leftnav_mac_003 a:visited {font-family:Arial;color:#292929;font-size:12px;font-weight:normal;font-style:normal;text-decoration:none;display:block;padding:5px 5px 5px 24px;}
a:hover.leftnav_mac_003, .leftnav_mac_003 a:hover {font-family:Arial;color:#686868;font-size:12px;font-weight:normal;font-style:normal;text-decoration:none;display:block;padding:5px 5px 5px 24px;background:url(/images/leftnav_hover.jpg) no-repeat left;}
a:active.leftnav_mac_003, .leftnav_mac_003 a:active {font-family:Arial;color:#292929;font-size:12px;font-weight:normal;font-style:normal;text-decoration:none;}
.popup_heading{font-family:Arial;color:#686868;font-size:12px;font-weight:bold;font-style:normal;text-decoration:none;}
a.popup_heading, a:link.popup_heading, .popup_heading a, .popup_heading a:link {font-family:Arial;color:#686868;font-size:12px;font-weight:bold;font-style:normal;text-decoration:none;text-align : center;
display : block;}
a:visited.popup_heading, .popup_heading a:visited {font-family:Arial;color:#686868;font-size:12px;font-weight:bold;font-style:normal;text-decoration:none;}
a:hover.popup_heading, .popup_heading a:hover {font-family:Arial;color:#686868;font-size:12px;font-weight:bold;font-style:normal;text-decoration:none;}
a:active.popup_heading, .popup_heading a:active {font-family:Arial;color:#686868;font-size:12px;font-weight:bold;font-style:normal;text-decoration:none;}
.portfolio{font-family:Arial;color:#3b3a3a;font-size:11px;font-weight:normal;font-style:normal;text-decoration:none;background: url(/images/home_portfolio_bg.jpg) repeat-x left 5px;}
a.portfolio, a:link.portfolio, .portfolio a, .portfolio a:link {font-family:Arial;color:#3b3a3a;font-size:11px;font-weight:normal;font-style:normal;text-decoration:none;}
a:visited.portfolio, .portfolio a:visited {font-family:Arial;color:#3b3a3a;font-size:11px;font-weight:normal;font-style:normal;text-decoration:none;}
a:hover.portfolio, .portfolio a:hover {font-family:Arial;color:#686868;font-size:11px;font-weight:normal;font-style:normal;text-decoration:none;}
a:active.portfolio, .portfolio a:active {font-family:Arial;color:#3b3a3a;font-size:11px;font-weight:normal;font-style:normal;text-decoration:none;}
.portfolio_text{font-family:Arial;color:#3a434c;font-size:12px;font-weight:normal;font-style:normal;text-decoration:none;padding-bottom:10px;}
a.portfolio_text, a:link.portfolio_text, .portfolio_text a, .portfolio_text a:link {font-family:Arial;color:#3A434C;font-size:12px;font-weight:normal;font-style:normal;text-decoration:none;}
a:visited.portfolio_text, .portfolio_text a:visited {font-family:Arial;color:#3a434c;font-size:12px;font-weight:normal;font-style:normal;text-decoration:none;}
a:hover.portfolio_text, .portfolio_text a:hover {font-family:Arial;color:#3435e8;font-size:12px;font-weight:normal;font-style:normal;text-decoration:none;}
a:active.portfolio_text, .portfolio_text a:active {font-family:Arial;color:#3435e8;font-size:12px;font-weight:normal;font-style:normal;text-decoration:none;}
.printable{font-family:Arial;color:#3435e8;font-size:11px;font-weight:normal;font-style:normal;text-decoration:none;float : right; margin-top : 100px; margin-right : 30px;}
a.printable, a:link.printable, .printable a, .printable a:link {font-family:Arial;color:#3435e8;font-size:11px;font-weight:normal;font-style:normal;text-decoration:underline;}
a:visited.printable, .printable a:visited {font-family:Arial;color:#3435e8;font-size:11px;font-weight:normal;font-style:normal;text-decoration:underline;}
a:hover.printable, .printable a:hover {font-family:Arial;color:#3435e8;font-size:11px;font-weight:normal;font-style:normal;text-decoration:none;}
a:active.printable, .printable a:active {font-family:Arial;color:#3435e8;font-size:11px;font-weight:normal;font-style:normal;text-decoration:underline;}
.quick_quote{font-weight:normal;font-style:normal;text-decoration:none;width:151px; background:url(/images/quick_quote_bg.jpg) no-repeat top; margin:-65px 0px 0px 10px; padding-top:30px; display:block; position:relative;}
a.quick_quote, a:link.quick_quote, .quick_quote a, .quick_quote a:link {font-weight:normal;font-style:normal;text-decoration:underline;}
a:visited.quick_quote, .quick_quote a:visited {font-weight:normal;font-style:normal;text-decoration:underline;}
a:hover.quick_quote, .quick_quote a:hover {font-weight:normal;font-style:normal;text-decoration:underline;}
a:active.quick_quote, .quick_quote a:active {font-weight:normal;font-style:normal;text-decoration:underline;}
.quick_quote1{font-weight:normal;font-style:normal;text-decoration:none;width:151px; background:url(/images/quick_quote_bg1.jpg) no-repeat top; margin:40px 0px 0px 10px; padding-top:30px; display:block; position:relative;}
a.quick_quote1, a:link.quick_quote1, .quick_quote1 a, .quick_quote1 a:link {font-weight:normal;font-style:normal;text-decoration:underline;}
a:visited.quick_quote1, .quick_quote1 a:visited {font-weight:normal;font-style:normal;text-decoration:underline;}
a:hover.quick_quote1, .quick_quote1 a:hover {font-weight:normal;font-style:normal;text-decoration:underline;}
a:active.quick_quote1, .quick_quote1 a:active {font-weight:normal;font-style:normal;text-decoration:underline;}
.rfq{font-family:Arial;color:#000000;font-size:11px;font-weight:normal;font-style:normal;text-decoration:none;width:130px; height:22px; padding:3px 5px 0px 5px; margin:0px 0px 5px 10px; float:left;background-color:#eaeaea; border:1px solid #000;}
a.rfq, a:link.rfq, .rfq a, .rfq a:link {font-family:Arial;color:#000000;font-size:11px;font-weight:normal;font-style:normal;text-decoration:underline;}
a:visited.rfq, .rfq a:visited {font-family:Arial;color:#000000;font-size:11px;font-weight:normal;font-style:normal;text-decoration:underline;}
a:hover.rfq, .rfq a:hover {font-family:Arial;color:#000000;font-size:11px;font-weight:normal;font-style:normal;text-decoration:underline;}
a:active.rfq, .rfq a:active {font-family:Arial;color:#000000;font-size:11px;font-weight:normal;font-style:normal;text-decoration:underline;}
.rfq1{font-family:Arial;color:#000000;font-size:11px;font-weight:normal;font-style:normal;text-decoration:none;width:130px; height : 43px;  padding:3px 5px 20px 5px; margin:0px 0px 3px 10px; float:left;background-color:#eaeaea;border:1px solid #000;}
a.rfq1, a:link.rfq1, .rfq1 a, .rfq1 a:link {font-family:Arial;color:#000000;font-size:11px;font-weight:normal;font-style:normal;text-decoration:underline;}
a:visited.rfq1, .rfq1 a:visited {font-family:Arial;color:#000000;font-size:11px;font-weight:normal;font-style:normal;text-decoration:underline;}
a:hover.rfq1, .rfq1 a:hover {font-family:Arial;color:#000000;font-size:11px;font-weight:normal;font-style:normal;text-decoration:underline;}
a:active.rfq1, .rfq1 a:active {font-family:Arial;color:#000000;font-size:11px;font-weight:normal;font-style:normal;text-decoration:underline;}
.sample{font-family:Arial;color:#686868;font-size:16px;font-weight:bold;font-style:normal;text-decoration:none;padding:15px 0px 10px 3px;}
a.sample, a:link.sample, .sample a, .sample a:link {font-family:Arial;color:#686868;font-size:16px;font-weight:bold;font-style:normal;text-decoration:underline;}
a:visited.sample, .sample a:visited {font-family:Arial;color:#686868;font-size:16px;font-weight:bold;font-style:normal;text-decoration:underline;}
a:hover.sample, .sample a:hover {font-family:Arial;color:#686868;font-size:16px;font-weight:bold;font-style:normal;text-decoration:underline;}
a:active.sample, .sample a:active {font-family:Arial;color:#686868;font-size:16px;font-weight:bold;font-style:normal;text-decoration:underline;}
.search_box{font-family:Arial;color:#000000;font-size:11px;font-weight:normal;font-style:normal;text-decoration:none;padding-left:5px;height:22px; width:150px; margin:0px; padding-top:1px;background-color:#eaeaea;}
a.search_box, a:link.search_box, .search_box a, .search_box a:link {font-family:Arial;color:#000000;font-size:11px;font-weight:normal;font-style:normal;text-decoration:underline;}
a:visited.search_box, .search_box a:visited {font-family:Arial;color:#000000;font-size:11px;font-weight:normal;font-style:normal;text-decoration:underline;}
a:hover.search_box, .search_box a:hover {font-family:Arial;color:#000000;font-size:11px;font-weight:normal;font-style:normal;text-decoration:underline;}
a:active.search_box, .search_box a:active {font-family:Arial;color:#000000;font-size:11px;font-weight:normal;font-style:normal;text-decoration:underline;}
.sitemap_category{font-size:14px;font-weight:bold;font-style:normal;text-decoration:none;margin-bottom:5px;}
.sitemap_item{font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;margin-bottom:5px;}
.small_mac_003{font-family:Arial;color:#000000;font-size:10px;font-weight:normal;font-style:normal;text-decoration:none;}
a.small_mac_003, a:link.small_mac_003, .small_mac_003 a, .small_mac_003 a:link {font-family:Arial;color:#0000FF;font-size:10px;font-weight:normal;font-style:normal;text-decoration:underline;}
a:visited.small_mac_003, .small_mac_003 a:visited {font-family:Arial;color:#0000FF;font-size:10px;font-weight:normal;font-style:normal;text-decoration:underline;}
a:hover.small_mac_003, .small_mac_003 a:hover {font-family:Arial;color:#0000FF;font-size:10px;font-weight:normal;font-style:normal;text-decoration:none;}
.specifications{font-family:Arial;color:#5b615e;font-size:12px;font-weight:normal;font-style:normal;text-decoration:none;}
a.specifications, a:link.specifications, .specifications a, .specifications a:link {font-family:Arial;color:#3435e8;font-size:12px;font-weight:normal;font-style:normal;text-decoration:underline;}
a:visited.specifications, .specifications a:visited {font-family:Arial;color:#3435e8;font-size:12px;font-weight:normal;font-style:normal;text-decoration:underline;}
a:hover.specifications, .specifications a:hover {font-family:Arial;color:#3435e8;font-size:12px;font-weight:normal;font-style:normal;text-decoration:none;}
a:active.specifications, .specifications a:active {font-family:Arial;color:#3435e8;font-size:12px;font-weight:normal;font-style:normal;text-decoration:none;}
.thomasinfo_text{font-family:Arial;color:#686868;font-size:10px;font-weight:normal;font-style:normal;text-decoration:none;}
a.thomasinfo_text, a:link.thomasinfo_text, .thomasinfo_text a, .thomasinfo_text a:link {font-family:Arial;color:#686868;font-size:10px;font-weight:normal;font-style:normal;text-decoration:underline;}
a:visited.thomasinfo_text, .thomasinfo_text a:visited {font-family:Arial;color:#686868;font-size:10px;font-weight:normal;font-style:normal;text-decoration:underline;}
a:hover.thomasinfo_text, .thomasinfo_text a:hover {font-family:Arial;color:#3435e8;font-size:10px;font-weight:normal;font-style:normal;text-decoration:none;}
a:active.thomasinfo_text, .thomasinfo_text a:active {font-family:Arial;color:#686868;font-size:10px;font-weight:normal;font-style:normal;text-decoration:underline;}
.thumb{font-family:Arial;color:#3a434c;font-size:11px;font-weight:normal;font-style:normal;text-decoration:none;float:right;padding-bottom:8px;}
a.thumb, a:link.thumb, .thumb a, .thumb a:link {font-family:Arial;color:#3a434c;font-size:11px;font-weight:normal;font-style:normal;text-decoration:underline;}
a:visited.thumb, .thumb a:visited {font-family:Arial;color:#3a434c;font-size:11px;font-weight:normal;font-style:normal;text-decoration:underline;}
a:hover.thumb, .thumb a:hover {font-family:Arial;color:#3a434c;font-size:11px;font-weight:normal;font-style:normal;text-decoration:underline;}
a:active.thumb, .thumb a:active {font-family:Arial;color:#3a434c;font-size:11px;font-weight:normal;font-style:normal;text-decoration:underline;}
.top{font-family:Arial;color:#3435e8;font-size:11px;font-weight:normal;font-style:normal;text-decoration:none;float:right;}
a.top, a:link.top, .top a, .top a:link {font-family:Arial;color:#3435e8;font-size:11px;font-weight:normal;font-style:normal;text-decoration:underline;}
a:visited.top, .top a:visited {font-family:Arial;color:#3435e8;font-size:11px;font-weight:normal;font-style:normal;text-decoration:underline;}
a:hover.top, .top a:hover {font-family:Arial;color:#3a434c;font-size:11px;font-weight:normal;font-style:normal;text-decoration:none;}
a:active.top, .top a:active {font-family:Arial;color:#3a434c;font-size:11px;font-weight:normal;font-style:normal;text-decoration:none;}
.topnav_mac_003{font-family:Arial;color:#ffffff;font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;}
a.topnav_mac_003, a:link.topnav_mac_003, .topnav_mac_003 a, .topnav_mac_003 a:link {font-family:Arial;color:#ffffff;font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;margin:0px 12px 0px 12px;
padding:18px 0px 0px 0px;}
a:visited.topnav_mac_003, .topnav_mac_003 a:visited {font-family:Arial;color:#ffffff;font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;margin:0px 12px 0px 12px;
padding:18px 0px 0px 0px;}
a:hover.topnav_mac_003, .topnav_mac_003 a:hover {font-family:Arial;color:#cccccc;font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;margin:0px 12px 0px 12px;
padding:18px 0px 0px 0px;
background:url(/images/topnav_hover.jpg) repeat-x left top;}
a:active.topnav_mac_003, .topnav_mac_003 a:active {font-family:Arial;color:#ffffff;font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;}
.topright_link{font-family:Arial;color:#3b3a3a;font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;float:left; text-align:left; padding-top:15px;}
a.topright_link, a:link.topright_link, .topright_link a, .topright_link a:link {font-family:Arial;color:#3b3a3a;font-size:13px;font-weight:bold;font-style:normal;text-decoration:underline;}
a:visited.topright_link, .topright_link a:visited {font-family:Arial;color:#3b3a3a;font-size:13px;font-weight:bold;font-style:normal;text-decoration:underline;}
a:hover.topright_link, .topright_link a:hover {font-family:Arial;color:#686868;font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;}
a:active.topright_link, .topright_link a:active {font-family:Arial;color:#3b3a3a;font-size:13px;font-weight:bold;font-style:normal;text-decoration:underline;}
.utility_nav_mac_003{font-family:Arial;color:#7c7c7c;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;}
a.utility_nav_mac_003, a:link.utility_nav_mac_003, .utility_nav_mac_003 a, .utility_nav_mac_003 a:link {font-family:Arial;color:#7c7c7c;font-size:13px;font-weight:normal;font-style:normal;text-decoration:underline;}
a:visited.utility_nav_mac_003, .utility_nav_mac_003 a:visited {font-family:Arial;color:#7c7c7c;font-size:13px;font-weight:normal;font-style:normal;text-decoration:underline;}
a:hover.utility_nav_mac_003, .utility_nav_mac_003 a:hover {font-family:Arial;color:#7c7c7c;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;}
a:active.utility_nav_mac_003, .utility_nav_mac_003 a:active {font-family:Arial;color:#7c7c7c;font-size:13px;font-weight:normal;font-style:normal;text-decoration:underline;}
